.screen-wide {
    width: min(500px, 100vw);
}

::-webkit-scrollbar {
    display: none;
}

@media (hover: none) {
    .mobile:active {
        background-color: hsl(var(--accent));
        color: hsl(var(--accent-foreground));
    }
}

/*.mobile:hover, .mobile:active {*/
/*    background-color: hsl(var(--accent));*/
/*    color: hsl(var(--accent-foreground));*/
/*}*/